:root {
  /* Font */
  --font-main-font: "Lato", sans-serif;
  /* Colo */
  --color-orange: #dc6e25;
  --color-black: #111;
  --color-white: #fff;
}

body {
  font-family: var(--font-main-font);
  background-color: var(--color-black);
  overflow-x: hidden;
}

section {
  width: 100%;
}

section:last-child {
  padding-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 5rem;
}

.header-title {
  position: relative;
  top: -8vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 10vw;
  font-size: 9vw;
  font-weight: 600;
  color: var(--color-orange);
  line-height: 1.2;
  text-transform: uppercase;
}

.header-title .thiny {
  align-self: flex-end;
  font-weight: 100;
  font-style: italic;
}

/* Main */

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  width: 940px;
  padding-bottom: 30vh;
  color: var(--color-white);
  font-weight: 100;
}

.back-number {
  position: absolute;
  top: -9vw;
  right: -8vw;
  font-size: 25vw;
  opacity: 0.1;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5rem 0;
}

.content-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: end;
  opacity: 0.8;
}

.content-img {
  max-height: 500px;
  height: 45vw;
}

.quote {
  position: relative;
  width: initial;
  margin-top: -13vw;
  margin-right: -5vw;
  font-size: 6vw;
  font-weight: 600;
  line-height: 1.2;
  text-align: right;
  word-break: keep-all;
}
.enter {
  display: block;
}

section:nth-child(2n) {
  margin: 0 0 0 auto;
}

section:nth-child(2n) .back-number {
  right: 0;
  left: -8vw;
}

section:nth-child(2n) .content-title {
  text-align: left;
}

section:nth-child(2n) .quote {
  margin-right: 0;
  margin-left: -5vw;
  text-align: left;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .quote {
    margin-top: -18vw;
  }
}
