:root {
  /* Collor */

  /* Font */
  --font-main-font: "Lato", sans-serif;
  --font-secondary-font: "Abel", sans-serif;
}

body {
  font-family: var(--font-main-font);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: var(--font-secondary-font);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.nav-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-list {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.nav-list-item {
  font-size: 1.2rem;
  transition: 0.3s;
}

.nav-list-item.active {
  color: #222;
}

.nav-list-item a {
  padding: 0.6rem 0.9rem;
}

/* section */

.section-title {
  font-size: 5.625rem;
  font-weight: 100;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

.section-title strong {
  font-weight: 500;
  font-style: italic;
}

#section1 {
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
}
#section2 {
  background: radial-gradient(ellipse farthest-corner at center top, #cbf49a, #1ea623);
}
#section3 {
  background: radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
}
#section4 {
  background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);
}
#section5 {
  background: radial-gradient(ellipse farthest-corner at center bottom, #69d2fb 0%, #20438e 100%);
}
#section6 {
  background: radial-gradient(ellipse farthest-corner at center top, #6cebcf 0%, #38a7aa 100%);
}
