:root {
  /* Collor */

  /* Font */
  --font-main-font: "Lato", sans-serif;
  --font-secondary-font: "Abel", sans-serif;
}

body {
  font-family: var(--font-main-font);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: var(--font-secondary-font);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}

.nav-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-list {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.nav-list-item {
  font-size: 1.2rem;
  transition: 0.3s;
}

.nav-list-item.active {
  color: #222;
}

.nav-list-item a {
  padding: 0.6rem 0.9rem;
}

.toggle-btn {
  display: none;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem 0 0 0.5rem;
  border-radius: 50%;
  border: none;
  font-family: var(--font-secondary-font);
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
  outline: none;
  cursor: pointer;
}
/* section */

.section-title {
  font-size: 5.625rem;
  font-weight: 100;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

.section-title strong {
  font-weight: 500;
  font-style: italic;
}

#section1 {
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
}
#section2 {
  background: radial-gradient(ellipse farthest-corner at center top, #cbf49a, #1ea623);
}
#section3 {
  background: radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
}
#section4 {
  background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);
}
#section5 {
  background: radial-gradient(ellipse farthest-corner at center bottom, #69d2fb 0%, #20438e 100%);
}
#section6 {
  background: radial-gradient(ellipse farthest-corner at center top, #6cebcf 0%, #38a7aa 100%);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  /* Header */
  #header {
    display: flex;
    flex-direction: row;
    transform: translateX(-50%);
    transition: all 0.5s ease;
  }

  #header.show {
    transform: translateX(0);
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    padding: 5rem 0;
  }

  .nav-title {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
  }
  .nav-list {
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
  }

  .nav-list-item {
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: left;
    transition: 0.3s;
  }

  .nav-list-item.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .nav-list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: transparent;
    transition: 0.3s;
  }

  .nav-list-item.active::before {
    background-color: #fff;
  }

  .nav-list-item a {
    display: block;
    width: 100%;
    padding: 1rem;
    padding-left: 2.5rem;
  }

  .toggle-btn {
    display: block;
  }
}
